<div class="bg-white">
  <div class="flex flex-col h-screen max-w-[18rem] border-r border-gray-200">
    <div class="flex items-center justify-center h-20">
      <img src="assets/images/thriftylogo.png" class="h-20" alt="logo" />
    </div>
    <nav class="flex flex-col overflow-y-auto pt-10 justify-between">
      <ul class="space-y-4 p-4">
        <li>
          <a
            href="/dashboard"
            class="flex border rounded-2xl text-xl font-semibold items-center duration-150 p-3 text-gray-700 hover:bg-red-100 hover:border-red-800 gap-2"
          >
            <i class="ph ph-presentation-chart text-3xl"></i> Dashboard</a
          >
        </li>
        <li>
          <a
            href="/inventory"
            class="flex border rounded-2xl text-xl font-semibold items-center duration-150 p-3 text-gray-700 hover:bg-red-100 hover:border-red-800 gap-2"
            ><i class="ph ph-package text-3xl"></i>Inventory</a
          >
        </li>
        <li>
          <a
            href="/orders"
            class="flex border rounded-2xl text-xl font-semibold items-center duration-150 p-3 text-gray-700 hover:bg-red-100 hover:border-red-800 gap-2"
            ><i class="ph ph-shopping-cart text-3xl"></i>Orders</a
          >
        </li>
        <li>
          <a
            href="/reports"
            class="flex border rounded-2xl text-xl font-semibold items-center duration-150 p-3 text-gray-700 hover:bg-red-100 hover:border-red-800 gap-2"
            ><i class="ph ph-chart-bar text-3xl"></i>Reports</a
          >
        </li>
      </ul>

    </nav>
  </div>
</div>
