<div class="bg-white">
  <div class="flex flex-col h-screen max-w-xs border-r border-gray-200">
    <div class="flex items-center justify-center h-20">
      <img src="assets/images/thriftylogo.png" class="h-20" alt="logo" />
    </div>
    <nav class="flex-1 overflow-y-auto pt-10">
      <ul class="space-y-4 p-4">
        <li>
          <a
            href="#"
            class="block border rounded-2xl duration-150 p-2 text-gray-700 hover:bg-red-100 hover:border-red-800"
          >
            <i class="ph ph-smiley"></i> Dashboard</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block border rounded-2xl duration-150 p-2 text-gray-700 hover:bg-red-100 hover:border-red-800"
            >Inventory</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block border rounded-2xl duration-150 p-2 text-gray-700 hover:bg-red-100 hover:border-red-800"
            >Orders</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block border rounded-2xl duration-150 p-2 text-gray-700 hover:bg-red-100 hover:border-red-800"
            >Reports</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
